%buttonTemplate {
	text-decoration: none;
	transition: background-color 0.2s ease-out;
	cursor: pointer;
	display: inline-block;
}

.primaryButton {
	@extend %buttonTemplate;

	background-color: $blue-picton-blue;
	color: $white;
	text-transform: uppercase;
	font-size: 24px;

	padding: 20px 40px;
	border-radius: 40px;

	&:hover {
		background-color: lighten($blue-picton-blue, 1.5%);
	}
}

.sceneButton {
	@extend %buttonTemplate;

	background-color: $orange-yellow-orange;
	padding: 10px 40px;
	border-radius: 40px;


	&:hover {
		background-color: lighten($orange-yellow-orange, 1.5%);
	}
}

.nextButton {
	@extend %buttonTemplate;

	background-color: $orange-yellow-orange;

	width: 60px;
	height: 60px;

	border-radius: 50px;

	&__arrow {
		background-color: $white;
		width: 50%;
		padding-top: 50%;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
