.progressionBar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	// background-color: $green;

	padding-top: 60px;

	&__container {
		padding: 0 40px 40px 40px;
	}

	&__sceneList {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
