.progressionBar {
	position: relative;
	display: inline-block;

	width: 80%;

	@include breakpoint(medium) {
		margin: 0;
		width: auto;
		align-self: center;
	};

	&::before {
		content: '';
		position: absolute;
		z-index: 1;

		display: inline-block;

		background-color: $blue-pattens-blue;

		@include breakpoint(medium) {
			width: 6px;

			top: 0;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		};
	}

	&__sceneList {
		position: relative;
		z-index: 2;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: stretch;

		@include breakpoint(medium) {
			flex-direction: column;
			height: 600px;
		};
	}

	&__circle {
		cursor: pointer;
		text-align: center;
		vertical-align: middle;
		color: $white;
		font-size: 18px;

		background-color: $blue-picton-blue;
		padding: 14px 0;
		margin: 0 1px;
		width: 20%;

		&:first-child {
			border-top-left-radius: 30px;
			border-bottom-left-radius: 30px;

			@include breakpoint(medium) {
				border-top-left-radius: 50%;
				border-bottom-left-radius: 50%;
			};
		}

		&:last-child {
			border-top-right-radius: 30px;
			border-bottom-right-radius: 30px;

			@include breakpoint(medium) {
				border-top-right-radius: 50%;
				border-bottom-right-radius: 50%;
			};
		}


		@include breakpoint(medium) {
			width: 70px;
			height: 70px;
			padding: 0;
			margin: 0;
			border-radius: 50%;

			line-height: 70px;
			font-size: 26px;
		};
	}
}
