<section class="editorScene {{class}}">
	<h1 class="editorScene__title jeu__title">Rédige ta <b>poésie</b></h1>

	<div class="editorScene__container">
		<div class="editorScene__stanzasList">
			<div class="editorScene__stanzas">
				<div class="editorScene__line">
					<div class="editorScene__syllableCount">0</div>
					<input class="editorScene__lineInput">
					<div class="editorScene__rhymeType">A</div>
				</div>
			</div>
		</div>
		<div class="editorScene__buttonContainer">
			<div class="editorScene__moreStanzasButton primaryButton">More</div>
		</div>
	</div>
	<div class="editorScene__container-animate">
		<div class="editorScene__cloud1"><img src="dist/img/nuage.png" /></div>
		<div class="editorScene__cloud2"><img src="dist/img/nuage.png" /></div>
		<div class="editorScene__cloud3"><img src="dist/img/nuage.png" /></div>
		<div class="editorScene__cloud4"><img src="dist/img/nuage.png" /></div>
		<div class="editorScene__cloud5"><img src="dist/img/nuage.png" /></div>
	</div>
</section>
