{#
<section class="editorScene {{class}}">
	<div class="editorScene__container-animate">
		<div class="editorScene__cloud1"><img src="dist/img/nuage.png" /></div>
		<div class="editorScene__cloud2"><img src="dist/img/nuage.png" /></div>
		<div class="editorScene__cloud3"><img src="dist/img/nuage.png" /></div>
		<div class="editorScene__cloud4"><img src="dist/img/nuage.png" /></div>
		<div class="editorScene__cloud5"><img src="dist/img/nuage.png" /></div>
		<div class="editorScene__arrow-next"></div>
	</div>
	<div class="editorScene__container">
		<div class="editorScene__stanzasList">
			<div class="editorScene__stanzas">
				{% for item in 0..3 %}
					<div class="editorScene__line">
						<div class="editorScene__countBorder">
							<span class="editorScene__syllableCount">0</span>
						</div>
						<input class="editorScene__lineInput">
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="editorScene__buttonContainer">
			<div class="editorScene__moreStanzasButton primaryButton">More</div>
		</div>
	</div>
</section>
#}
