<section class="editorScene {{class}}">
	<div class="editorScene__container">
		<div class="editorScene__stanzasList">
			<div class="editorScene__stanzas">
				{% for item in 0..3 %}
					<div class="editorScene__line">
						<div class="editorScene__countBorder">
							<span class="editorScene__syllableCount">0</span>
						</div>
						<input class="editorScene__lineInput">
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="editorScene__buttonContainer">
			<div class="editorScene__moreStanzasButton primaryButton">More</div>
			<div class="editorScene__nextSceneButton primaryButton">Next</div>
		</div>
	</div>
</section>
