<section class="rhymeScene {{class}}">
	<div class="rhymeScene__container">
		<div class="rhymeScene__title">
			<h1>Avec quelle <span class="rhymeScene__bold">rime </span>veux-tu écrire ton poème ?</h1>
		</div>
		<div class="rhymeScene__containerCentral">
			<div class="rhymeScene__containerRime">
				<div class="rhymeScene__content">
					<h1><span class="rhymeScene__orange">AA</span><span class="rhymeScene__blue">BB</span></h1>
					<p class="rhymeScene__rimeType">
						Rime plates
					</p>
					<p class="rhymeScene__example">
						Par exemple :
					</p>
					<p class="rhymeScene__rime">
						Une belle <span class="rhymeScene__orange">orchidée</span><br/>
						pour ma bien <span class="rhymeScene__orange">aimée</span><br/>
						preuve de ma <span class="rhymeScene__blue">bravoure</span><br/>
						et de mon <span class="rhymeScene__blue">amour</span>.
					</p>
				</div>
				<div class="rhymeScene__content">
					<h1><span class="rhymeScene__orange">A</span><span class="rhymeScene__blue">B</span><span class="rhymeScene__orange">A</span><span class="rhymeScene__blue">B</span></h1>
					<p class="rhymeScene__rimeType">
						Rime croisées
					</p>
					<p class="rhymeScene__example">
						Par exemple :
					</p>
					<p class="rhymeScene__rime">
						Une belle <span class="rhymeScene__orange">orchidée</span><br/>
						preuve de ma <span class="rhymeScene__blue">bravoure</span><br/>
						pour ma bien <span class="rhymeScene__orange">aimée</span><br/>
						et de mon <span class="rhymeScene__blue">coeur</span>.
					</p>
				</div>
				<div class="rhymeScene__content">
					<h1><span class="rhymeScene__orange">A</span><span class="rhymeScene__blue">B</span><span class="rhymeScene__blue">B</span><span class="rhymeScene__orange">A</span></h1>
					<p class="rhymeScene__rimeType">
						Rime embrassées
					</p>
					<p class="rhymeScene__example">
						Par exemple :
					</p>
					<p class="rhymeScene__rime">
						Une belle <span class="rhymeScene__orange">orchidée</span><br/>
						preuve de ma <span class="rhymeScene__blue">bravoure</span><br/>
						et de mon <span class="rhymeScene__blue">coeur</span><br/>
						pour ma bien <span class="rhymeScene__orange">aimée</span>.
					</p>
				</div>
			</div>
		</div>
		<div class="rhymeScene__button">
			<a href="http://localhost:3000/poem-editor/public/syllabe">continuer</a>
		</div>
	</div>
</section>
