<section class="rhymeScene {{class}}">
	<div class="rhymeScene__title">
		<h1>Avec quelle <b>rime</b> veux-tu écrire ton poème ?</h1>
	</div>
	<div class="rhymeScene__container">
		<div class="rhymeScene__rhymeContainer">
			<h2 class="rhymeScene__rhymeTitle">Rimes Plates</h2>
			<h3 class="rhymeScene__rhymeSubtitle">Par exemple:</h3>
			<p class="rhymeScene__rhyme1">Une belle<span class="rhymeScene__rhymeA"> orchidée</span></p>
			<p class="rhymeScene__rhyme2">pour ma<span class="rhymeScene__rhymeA"> bien-aimée</span></p>
			<p class="rhymeScene__rhyme3">preuve de ma<span class="rhymeScene__rhymeB"> bravoure</span></p>
			<p class="rhymeScene__rhyme4">et de mon<span class="rhymeScene__rhymeB"> amour</span></p>
		</div>
		<div class="rhymeScene__rhymeList">
			<div class="rhymeScene__rhymeItem secondaryButton secondaryButton--selected" data-ref="AABB">AABB</div>
			<div class="rhymeScene__rhymeItem secondaryButton" data-ref="ABAB">ABAB</div>
			<div class="rhymeScene__rhymeItem secondaryButton" data-ref="ABBA">ABBA</div>
		</div>
	</div>

	{#
		<div class="rhymeScene__container">
			<div class="rhymeScene__title">
				<h1>Avec quelle <span class="rhymeScene__bold">rime </span>veux-tu écrire ton poème ?</h1>
			</div>
			<div class="rhymeScene__containerCentral">
				<div class="rhymeScene__containerRime">
					<div class="rhymeScene__content" data-ref="AABB">
						<h1><span class="rhymeScene__orange">AA</span><span class="rhymeScene__blue">BB</span></h1>
						<p class="rhymeScene__rimeType">
							Rime plates
						</p>
						<p class="rhymeScene__example">
							Par exemple :
						</p>
						<p class="rhymeScene__rime">
							Une belle <span class="rhymeScene__orange">orchidée</span><br/>
							pour ma bien <span class="rhymeScene__orange">aimée</span><br/>
							preuve de ma <span class="rhymeScene__blue">bravoure</span><br/>
							et de mon <span class="rhymeScene__blue">amour</span>.
						</p>
					</div>
					<div class="rhymeScene__content" data-ref="ABAB">
						<h1><span class="rhymeScene__orange">A</span><span class="rhymeScene__blue">B</span><span class="rhymeScene__orange">A</span><span class="rhymeScene__blue">B</span></h1>
						<p class="rhymeScene__rimeType">
							Rime croisées
						</p>
						<p class="rhymeScene__example">
							Par exemple :
						</p>
						<p class="rhymeScene__rime">
							Une belle <span class="rhymeScene__orange">orchidée</span><br/>
							preuve de ma <span class="rhymeScene__blue">bravoure</span><br/>
							pour ma bien <span class="rhymeScene__orange">aimée</span><br/>
							et de mon <span class="rhymeScene__blue">coeur</span>.
						</p>
					</div>
					<div class="rhymeScene__content" data-ref="ABBA">
						<h1><span class="rhymeScene__orange">A</span><span class="rhymeScene__blue">B</span><span class="rhymeScene__blue">B</span><span class="rhymeScene__orange">A</span></h1>
						<p class="rhymeScene__rimeType">
							Rime embrassées
						</p>
						<p class="rhymeScene__example">
							Par exemple :
						</p>
						<p class="rhymeScene__rime">
							Une belle <span class="rhymeScene__orange">orchidée</span><br/>
							preuve de ma <span class="rhymeScene__blue">bravoure</span><br/>
							et de mon <span class="rhymeScene__blue">coeur</span><br/>
							pour ma bien <span class="rhymeScene__orange">aimée</span>.
						</p>
					</div>
				</div>
			</div>
	#}
</section>
