<section class="themeScene {{class}}">
	<div class="themeScene__container-animate">
		<div class="themeScene__cloud1"></div>
		<div class="themeScene__cloud2"></div>
		<div class="themeScene__cloud3"></div>
		<div class="themeScene__cloud4"></div>
		<div class="themeScene__cloud5"></div>
		<div class="themeScene__arrow-next"></div>
	</div>
	<h2 class="themeScene__title jeu__title">Sur quel<b>thème</b>veux-tu écrire ton poème ?</h2>
	<div class="themeScene__choiceList">
		<div class="themeScene__themeCardContainer">
			<div class="themeScene__themeCard">Nature</div>
		</div>
		<div class="themeScene__themeCardContainer">
			<div class="themeScene__themeCard">Ecole</div>
		</div>
		<div class="themeScene__themeCardContainer">
			<div class="themeScene__themeCard">Automne</div>
		</div>
		<div class="themeScene__themeCardContainer">
			<div class="themeScene__themeCard">Terre</div>
		</div>
		<div class="themeScene__themeCardContainer">
			<div class="themeScene__themeCard">Anniversaire</div>
		</div>
		<div class="themeScene__themeCardContainer">
			<div class="themeScene__themeCard">Noêl</div>
		</div>
		<div class="themeScene__themeCardContainer">
			<div class="themeScene__themeCard">Soleil</div>
		</div>
		<div class="themeScene__themeCardContainer">
			<div class="themeScene__themeCard">Ciel</div>
		</div>
		<div class="themeScene__themeCardContainer">
			<div class="themeScene__themeCard">Vacances</div>
		</div>
		<div class="themeScene__themeCardContainer">
			<div class="themeScene__themeCard">Animaux</div>
		</div>
		<div class="themeScene__themeCardContainer">
			<div class="themeScene__themeCard">Musique</div>
		</div>
		<div class="themeScene__themeCardContainer">
			<div class="themeScene__themeCard">Famille</div>
		</div>
	</div>
	<div class="themeScene__buttonContainer">
		<div class="primaryButton jeu__nextScene">Continuer</div>
	</div>
</section>
