<section class="themeScene {{class}}">
		<h2 class="themeScene__title jeu__title">Sur quel <b>thème</b> veux-tu écrire ton poème ?</h2>
		<div class="themeScene__choiceList">
			<div class="themeScene__themeCardContainer">
				<div class="themeScene__themeCard" data-ref="nature">Nature</div>
			</div>
			<div class="themeScene__themeCardContainer">
				<div class="themeScene__themeCard" data-ref="ecole">Ecole</div>
			</div>
			<div class="themeScene__themeCardContainer">
				<div class="themeScene__themeCard" data-ref="automne">Automne</div>
			</div>
			<div class="themeScene__themeCardContainer">
				<div class="themeScene__themeCard" data-ref="terre">Terre</div>
			</div>
			<div class="themeScene__themeCardContainer">
				<div class="themeScene__themeCard" data-ref="anniversaire">Anniversaire</div>
			</div>
			<div class="themeScene__themeCardContainer">
				<div class="themeScene__themeCard" data-ref="noel">Noêl</div>
			</div>
			<div class="themeScene__themeCardContainer">
				<div class="themeScene__themeCard" data-ref="soleil">Soleil</div>
			</div>
			<div class="themeScene__themeCardContainer">
				<div class="themeScene__themeCard" data-ref="ciel">Ciel</div>
			</div>
			<div class="themeScene__themeCardContainer">
				<div class="themeScene__themeCard" data-ref="vacances">Vacances</div>
			</div>
			<div class="themeScene__themeCardContainer">
				<div class="themeScene__themeCard" data-ref="animaux">Animaux</div>
			</div>
			<div class="themeScene__themeCardContainer">
				<div class="themeScene__themeCard" data-ref="musique">Musique</div>
			</div>
			<div class="themeScene__themeCardContainer">
				<div class="themeScene__themeCard" data-ref="famille">Famille</div>
			</div>
		</div>
</section>
