<section class="themeScene {{class}}">
	<h2 class="themeScene__title jeu__title">Choisis un <b>thème</b></h2>

	<div class="themeScene__themeList themeScene__container-animate">
		<div class="themeScene__themeCloud themeCloud themeScene__cloud1" data-ref="nature">
			<span class="themeCloud__text">Nature</span>
			<div class="themeCloud__background"></div>
		</div>
		<div class="themeScene__themeCloud themeCloud themeScene__cloud2" data-ref="ecole">
			<span class="themeCloud__text">Ecole</span>
			<div class="themeCloud__background"></div>
		</div>
		<div class="themeScene__themeCloud themeCloud themeScene__cloud3" data-ref="ciel">
			<span class="themeCloud__text">Ciel</span>
			<div class="themeCloud__background"></div>
		</div>
		<div class="themeScene__themeCloud themeCloud themeScene__cloud4" data-ref="terre">
			<span class="themeCloud__text">Terre</span>
			<div class="themeCloud__background"></div>
		</div>
		<div class="themeScene__themeCloud themeCloud themeScene__cloud5" data-ref="famille">
			<span class="themeCloud__text">Famille</span>
			<div class="themeCloud__background"></div>
		</div>
		<div class="themeScene__themeCloud themeCloud themeScene__cloud6" data-ref="noel">
			<span class="themeCloud__text">Noêl</span>
			<div class="themeCloud__background"></div>
		</div>
		<div class="themeScene__themeCloud themeCloud themeScene__cloud7" data-ref="automne">
			<span class="themeCloud__text">Automne</span>
			<div class="themeCloud__background"></div>
		</div>
		<div class="themeScene__themeCloud themeCloud themeScene__cloud8" data-ref="vacance">
			<span class="themeCloud__text">Vacance</span>
			<div class="themeCloud__background"></div>
		</div>
		<div class="themeScene__themeCloud themeCloud themeScene__cloud9" data-ref="animaux">
			<span class="themeCloud__text">Animaux</span>
			<div class="themeCloud__background"></div>
		</div>
	</div>
</section>
