<h2 class="themeScene__title jeu__title">Choisis un <b>thème</b></h2>
<div class="verseScene__title jeu__title">
	<h1>Choisis le nombre de <b>syllabes</b> par vers</h1>
</div>
<div class="rhymeScene__title jeu__title">
	<h1>Choisis une <b>rime</b></h1>
</div>
