<section class="verseScene {{class}}">
	<div class="verseScene__title">
		<h1>Choisis le nombre de syllabe par vers</h1>
	</div>
	<div class="verseScene__container">
		<div class="verseScene__verseList">
			<div class="verseScene__verseItem secondaryButton secondaryButton--selected" data-ref="12">Alexandrin</div>
			<div class="verseScene__verseItem secondaryButton" data-ref="10">Decasyllabe</div>
			<div class="verseScene__verseItem secondaryButton" data-ref="8">Octosyllabe</div>
		</div>
		<div class="verseScene__content">
			<div class="verseScene__contentTitle">
				<span class="verseScene__number">12</span> SYLLABES
			</div>
			<div class="verseScene__contentDetail">par exemple :</div>
			<div class="verseScene__exampleList">
				<div class="verseScene__example">Vous <span></span> ê <span></span> tes le <span></span> phé <span></span> nix <span></span> des <span></span> hô <span></span> tes <span></span> de <span></span> ces <span></span> bois.</div>
				<div class="verseScene__example">Vous <span></span> ê <span></span> tes le <span></span> phé <span></span> nix <span></span> des <span></span> hô <span></span> tes <span></span> de <span></span> ces <span></span> bois.</div>
				<div class="verseScene__example">Vous <span></span> ê <span></span> tes le <span></span> phé <span></span> nix <span></span> des <span></span> hô <span></span> tes <span></span> de <span></span> ces <span></span> bois.</div>
			</div>
		</div>
	</div>
</section>
