<section class="verseScene {{class}}">
	<div class="verseScene__container-animate">
		<div class="verseScene__arrow-next"></div>
	</div>
	<div class="verseScene__container">
		<div class="verseScene__title">
			<h1>Avec quelle <span class="verseScene__bold">type de vers </span>veux-tu écrire ton poème ?</h1>
		</div>
		<div class="verseScene__containerCentral">
			<div class="verseScene__containervers">
				<div class="verseScene__content">
					<p>Alexandrin</p>
					<p>
						Blbalala
					</p>
					<p>
						12
					</p>

				</div>
				<div class="verseScene__content">
					<p>Alexandrin</p>
					<p>
						Blbalala
					</p>
					<p>
						12
					</p>

				</div>
				<div class="verseScene__content">
					<p>Alexandrin</p>
					<p>
						Blbalala
					</p>
					<p>
						12
					</p>

				</div>
			</div>
		</div>
	</div>
</section>
