<section class="verseScene {{class}}">
	<div class="verseScene__container">
		<div class="verseScene__title">
			<h1>Avec quelle <span class="verseScene__bold">type de vers </span>veux-tu écrire ton poème ?</h1>
		</div>
		<div class="verseScene__containerCentral">
			<div class="verseScene__containervers">
				<div class="verseScene__content">
					<h1>alexandrin</h1>
					<p class="verseScene__versType">
						12
					</p>
					<p class="verseScene__example">
						Par exemple :
					</p>
					<p class="verseScene__vers">
						<span class="verseScene__orange">Tout </span><span class="verseScene__green">bour</span><span class="verseScene__bluedark">geois </span><span class="verseScene__yellow">veut </span><span class="verseScene__blue">bâ</span><span class="verseScene__red">tir </span><br/>
						<span class="verseScene__orange">com</span><span class="verseScene__green">me</span><span class="verseScene__bluedark"> les </span><span class="verseScene__yellow">grands </span><span class="verseScene__blue">sei</span><span class="verseScene__red">gneurs </span><br/>
					</p>
				</div>
				<div class="verseScene__content">
					<h1>décasyllabe</h1>
					<p class="verseScene__versType">
						10
					</p>
					<p class="verseScene__example">
						Par exemple :
					</p>
					<p class="verseScene__vers">
						<span class="verseScene__orange">Tout </span><span class="verseScene__green">bour</span><span class="verseScene__bluedark">geois </span><span class="verseScene__yellow">veut </span><span class="verseScene__blue">bâ</span><span class="verseScene__red">tir </span><br/>
						<span class="verseScene__orange">com</span><span class="verseScene__green">me</span><span class="verseScene__bluedark"> les </span><span class="verseScene__yellow">grands </span><br/>
					</p>
				</div>
				<div class="verseScene__content">
					<h1>octosyllabe</h1>
					<p class="verseScene__versType">
						8
					</p>
					<p class="verseScene__example">
						Par exemple :
					</p>
					<p class="verseScene__vers">
						<span class="verseScene__orange">Tout </span><span class="verseScene__green">bour</span><span class="verseScene__bluedark">geois </span><span class="verseScene__yellow">veut </span><span class="verseScene__blue">bâ</span><span class="verseScene__red">tir </span><br/>
						<span class="verseScene__orange">com</span><span class="verseScene__green">me</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
