<section class="verseScene {{class}}">
	<div class="verseScene__container-animate">
		<div class="verseScene__arrow-next"></div>
	</div>
	<div class="verseScene__container">
		<div class="verseScene__title">
			<h1>Choisis le nombre de syllabe par vers</h1>
		</div>
		<div class="verseScene__containerCentral">
			<div class="verseScene__choiceverse">
				<div class="verseScene__buttonTypeverse verseScene__selectType"><p>ALEXANDRIN</p></div>
				<div class="verseScene__buttonTypeverse"><p>DECASYLLABE</p></div>
				<div class="verseScene__buttonTypeverse"><p>OCTOSYLLABE</p></div>
			</div>
			<div class="verseScene__contentText">
				<div class="verseScene__Text">
					<p>12 SYLLABES</p>
					<p>par exemple :</p>
					<p>Vous<span class="verseScene__orange"><span class="verseScene__orange">|</span></span> ê<span class="verseScene__orange">|</span>tes le<span class="verseScene__orange">|</span> phé<span class="verseScene__orange">|</span>nix<span class="verseScene__orange">|</span> des<span class="verseScene__orange">|</span> hô<span class="verseScene__orange">|</span>tes<span class="verseScene__orange">|</span> de<span class="verseScene__orange">|</span> ces<span class="verseScene__orange">|</span> bois</p>
				</div>
				<div class="verseScene__Text">
					<p>10 SYLLABES</p>
					<p>par exemple :</p>
					<p>Vous<span class="verseScene__orange"><span class="verseScene__orange">|</span></span> ê<span class="verseScene__orange">|</span>tes le<span class="verseScene__orange">|</span> phé<span class="verseScene__orange">|</span>nix<span class="verseScene__orange">|</span> des<span class="verseScene__orange">|</span> hô<span class="verseScene__orange">|</span>tes<span class="verseScene__orange">|</span> de<span class="verseScene__orange">|</span> ces<span class="verseScene__orange">|</span> bois</p>
				</div>
				<div class="verseScene__Text">
					<p>8 SYLLABES</p>
					<p>par exemple :</p>
					<p>Vous<span class="verseScene__orange"><span class="verseScene__orange">|</span></span> ê<span class="verseScene__orange">|</span>tes le<span class="verseScene__orange">|</span> phé<span class="verseScene__orange">|</span>nix<span class="verseScene__orange">|</span> des<span class="verseScene__orange">|</span> hô<span class="verseScene__orange">|</span>tes<span class="verseScene__orange">|</span> de<span class="verseScene__orange">|</span> ces<span class="verseScene__orange">|</span> bois</p>
				</div>
			</div>
		</div>
	</div>
</section>
