{#
<section class="verseScene {{class}}">
	<div class="verseScene__container-animate">
		<div class="verseScene__arrow-next"></div>
	</div>
	<div class="verseScene__container">
		<div class="verseScene__title">
			<h1>Choisis le nombre de syllabe par vers</h1>
		</div>
		<div class="verseScene__containerCentral">
<<<<<<< HEAD
			<div class="verseScene__containervers">
				<div class="verseScene__content" data-ref="12">
					<h1>alexandrin</h1>
					<p class="verseScene__versType">
						12
					</p>
					<p class="verseScene__example">
						Par exemple :
					</p>
					<p class="verseScene__vers">
						<span class="verseScene__orange">Tout </span><span class="verseScene__green">bour</span><span class="verseScene__bluedark">geois </span><span class="verseScene__yellow">veut </span><span class="verseScene__blue">bâ</span><span class="verseScene__red">tir </span><br/>
						<span class="verseScene__orange">com</span><span class="verseScene__green">me</span><span class="verseScene__bluedark"> les </span><span class="verseScene__yellow">grands </span><span class="verseScene__blue">sei</span><span class="verseScene__red">gneurs </span><br/>
					</p>
				</div>
				<div class="verseScene__content" data-ref="10">
					<h1>décasyllabe</h1>
					<p class="verseScene__versType">
						10
					</p>
					<p class="verseScene__example">
						Par exemple :
					</p>
					<p class="verseScene__vers">
						<span class="verseScene__orange">Tout </span><span class="verseScene__green">bour</span><span class="verseScene__bluedark">geois </span><span class="verseScene__yellow">veut </span><span class="verseScene__blue">bâ</span><span class="verseScene__red">tir </span><br/>
						<span class="verseScene__orange">com</span><span class="verseScene__green">me</span><span class="verseScene__bluedark"> les </span><span class="verseScene__yellow">grands </span><br/>
					</p>
				</div>
				<div class="verseScene__content" data-ref="8">
					<h1>octosyllabe</h1>
					<p class="verseScene__versType">
						8
					</p>
					<p class="verseScene__example">
						Par exemple :
					</p>
					<p class="verseScene__vers">
						<span class="verseScene__orange">Tout </span><span class="verseScene__green">bour</span><span class="verseScene__bluedark">geois </span><span class="verseScene__yellow">veut </span><span class="verseScene__blue">bâ</span><span class="verseScene__red">tir </span><br/>
						<span class="verseScene__orange">com</span><span class="verseScene__green">me</span>
					</p>
=======
			<div class="verseScene__choiceverse">
				<div class="verseScene__buttonTypeverse verseScene__selectType"><p>ALEXANDRIN</p></div>
				<div class="verseScene__buttonTypeverse"><p>DECASYLLABE</p></div>
				<div class="verseScene__buttonTypeverse"><p>OCTOSYLLABE</p></div>
			</div>
			<div class="verseScene__contentText">
				<div class="verseScene__Text">
					<p>12 SYLLABES</p>
					<p>par exemple :</p>
					<p>Vous<span class="verseScene__orange"><span class="verseScene__orange">|</span></span> ê<span class="verseScene__orange">|</span>tes le<span class="verseScene__orange">|</span> phé<span class="verseScene__orange">|</span>nix<span class="verseScene__orange">|</span> des<span class="verseScene__orange">|</span> hô<span class="verseScene__orange">|</span>tes<span class="verseScene__orange">|</span> de<span class="verseScene__orange">|</span> ces<span class="verseScene__orange">|</span> bois</p>
				</div>
				<div class="verseScene__Text">
					<p>10 SYLLABES</p>
					<p>par exemple :</p>
					<p>Vous<span class="verseScene__orange"><span class="verseScene__orange">|</span></span> ê<span class="verseScene__orange">|</span>tes le<span class="verseScene__orange">|</span> phé<span class="verseScene__orange">|</span>nix<span class="verseScene__orange">|</span> des<span class="verseScene__orange">|</span> hô<span class="verseScene__orange">|</span>tes<span class="verseScene__orange">|</span> de<span class="verseScene__orange">|</span> ces<span class="verseScene__orange">|</span> bois</p>
				</div>
				<div class="verseScene__Text">
					<p>8 SYLLABES</p>
					<p>par exemple :</p>
					<p>Vous<span class="verseScene__orange"><span class="verseScene__orange">|</span></span> ê<span class="verseScene__orange">|</span>tes le<span class="verseScene__orange">|</span> phé<span class="verseScene__orange">|</span>nix<span class="verseScene__orange">|</span> des<span class="verseScene__orange">|</span> hô<span class="verseScene__orange">|</span>tes<span class="verseScene__orange">|</span> de<span class="verseScene__orange">|</span> ces<span class="verseScene__orange">|</span> bois</p>
>>>>>>> 8e67e6739d62316334511d7c202852c796f73a29
				</div>
			</div>
		</div>
	</div>
</section>
#}
