@keyframes moveCloudTheme {
  from{
    transform:translateX(0px);
  }
  to{
    transform:translateX(50px);
  }
}
@keyframes moveCloudEditor {
  from{
    transform:translateX(-1500px);
  }
  to{
    transform:translateX(1500px);
  }
}


@keyframes moveArrowLeft {
  from{
    transform:translateX(0px);
  }
  50% {
    transform:translateX(-10px);
  }
  to{
    transform:translateX(0px);
  }
}
