$breakpoints: (
   small: 480px,
   medium: 768px,
   large: 1024px,
   x-large: 1480px
);

@mixin breakpoint($media) {
    @each $breakpoint-name, $pixel in $breakpoints {
        @if $media == $breakpoint-name {
            @media (min-width: #{$pixel}) {
                @content;
            }
        }
    }
}

@mixin cloud($top,$left,$animCloud,$timeAnimation) {
	position: absolute;
	top:$top;
	left:$left;
	width: 50px;
	height: 50px;
	background: red;
	animation:$animCloud $timeAnimation ease infinite;
}
