/**
 * Color
 *
 * - NAMING CONVENTION
 * {NAME_OF_THE_COLOR}-{SPECIFIC_NAME}
 *
 *     Exemple:
 * For #6195ED :
 * $blue-cornflower-blue: #6195ED;
 *
 * You can use this website to get the specific name :
 * @link http://chir.ag/projects/name-that-color
 */

$white: #FFFFFF;
$black: #000000;

$blue: #94ebd7;

$white-alabaster:      #FAFAFA;

$grey-dusty-grey:      #9B9B9B;
$grey-tundora:         #4A4A4A;

$blue-pattens-blue:    #DBF1FF;
$blue-jagged-ice:      #BBE1E6;
$blue-picton-blue:     #2B94E8;
$blue-bondi-blue:      #008FB2;
$blue-blue-dianne:     #22444C;
$blue-spectra:         #2D535C;

$orange-buttercup:     #F6A623;
$orange-yellow-orange: #FFA049;
