/**
 * Color
 *
 * - NAMING CONVENTION
 * {NAME_OF_THE_COLOR}-{SPECIFIC_NAME}
 *
 *     Exemple:
 * For #6195ED :
 * $blue-cornflower-blue: #6195ED;
 *
 * You can use this website to get the specific name :
 * @link http://chir.ag/projects/name-that-color
 */

$white: #FFFFFF;
$black: #000000;

$grey: #4a4a4a;
$orange: #f5a623;
$blue: #94ebd7;
$bluedark: #6ea6e8;
$beige: #f1f1f1;
$green: #95db49;
$red: #fd1d26;
$dark: #d4d4d4;
$greydark: #9b9b9b;
$greylight: #e3e3e3;
$yellow: #faee5d;

$white-alabaster:      #FAFAFA;

$grey-tundora:         #4A4A4A;

$blue-pattens-blue:    #DBF1FF;
$blue-bondi-blue:      #008FB2;
$blue-picton-blue:     #2B94E8;

$orange-buttercup:     #F6A623;
$orange-yellow-orange: #FFA049;
