.jeu {
	background-color: $white-alabaster;

	&__content {
		height: 100vh;
		width: 100vw;
		overflow-x: hidden;
	}

	&__sceneList {
		height: 80vh;
		width: 10000px;
		display: flex;
		flex: row;
		transition-property: transform;
		transition-timing-function: ease-out;
	}

	&__sceneItem {
		position: relative;
		width: 100vw;
		background-image: url(../img/fond.png);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 100% auto;
	}

	&__progressionBar {
		height: 20vh;
	}

	&__title {
		align-self: flex-start;
	}
}
