.jeu {
	background-color: $white-alabaster;

	&__content {
		height: 100vh;
		width: 100vw;
		overflow-x: hidden;
	}

	&__sceneList {
		height: 80vh;
		width: 10000px;
		display: flex;
		flex: row;

		transition-property: transform;
		transition-timing-function: ease-out;
	}

	&__sceneItem {
		width: 100vw;
	}

	&__progressionBar {
		height: 20vh;
	}

	&__title {
		align-self: flex-start;
	}

	.nextButton {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
	}
}
