<section class="progressionBar">
	<div class="progressionBar__sceneList">
		<div class="progressionBar__circle">1</div>
		<div class="progressionBar__circle">2</div>
		<div class="progressionBar__circle">3</div>
		<div class="progressionBar__circle">4</div>
		<div class="progressionBar__circle">5</div>
	</div>
</section>
