<section class="progressionBar {{class}}">
	<div class="progressionBar__container">
		<div class="progressionBar__sceneList">
			<div class="progressionBar__sceneText sceneButton">Thème</div>
			<div class="progressionBar__sceneText sceneButton">Rime</div>
			<div class="progressionBar__sceneText sceneButton">Alexandrain</div>
			<div class="progressionBar__sceneText sceneButton">Poésie</div>
		</div>
	</div>
</section>
