<section class="progressionBar {{class}}">
{% include 'components/svg_ecriture.twig' %}
	<div class="progressionBar__container">
		<div class="progressionBar__sceneList">
			<div class="progressionBar__clickable progressionBar__position"></div>
			<div class="progressionBar__clickable progressionBar__position"></div>
			<div class="progressionBar__clickable progressionBar__position"></div>
			<div class="progressionBar__clickable progressionBar__position"></div>
			<div class="sceneButton"></div>
		</div>
	</div>
</section>
