{% extends "templates/default.twig" %}

{% block bodyClass "home" %}

{% block content %}
	<div class="home__container">
		<div class="home__mainContent">
			<div class="home__text">
				<h2>Bienvenue,<br>
					"Prends ta plus belle plume  et lançons nous  dans l’écriture d’un poème !</h2>
				<h3>Découvre l’histoire de Maître Renard et écris ta poésie petit à petit"</h3>
			</div>
			<div class="home__visual">
				<img class="home__mascot" src="dist/img/fox-mascot.png" alt="Fox Mascot" />
				<p class="home__visualText">Je suis la pour t'aider !</p>
			</div>
		</div>
		<div class="home__buttonContainer">
			<a class="home__button primaryButton" href="{{url('jeu')}}">Commencer</a>
		</div>
	</div>
{% endblock %}
