{% extends "templates/default.twig" %}

{% block bodyClass "poesie" %}

{% block content %}
	<div class="poesie__img">
		<a href="{{url('home')}}"><img src="dist/img/fox-head.png" /></a>
	</div>
	<div class="poesie__content"></div>
	<div class="poesie__contentButton">
		<div class="primaryButton" onclick="window.print()">Imprimer</div>
	</div>
{% endblock %}
