{% extends "templates/default.twig" %}

{% block bodyClass "poesie" %}

{% block content %}
	<div class="poesie__img">
		<img src="dist/img/fox-head.png" />
	</div>
	<div class="poesie__content">
		A quoi jouait-il cet enfant ?<br>
		Personne n’en sut jamais rien<br>
		On le laissait seul dans un coin<br>
		Avec un peu de sable blanc<br>
	</div>
	<div class="poesie__contentButton">
		<div class="primaryButton">Imprimer</div>
	</div>
{% endblock %}
