<section class="editorArea">
	<div class="editorArea__container">
		<div class="editorArea__stanzasList">
			<div class="editorArea__stanzas">
				{% for item in 0..3 %}
					<div class="editorArea__line">
						<div class="editorArea__countBorder">
							<span class="editorArea__syllableCount">0</span>
						</div>
						<input class="editorArea__lineInput">
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="editorArea__buttonContainer">
			<div class="editorArea__moreStanzasButton primaryButton">More</div>
			<div class="editorArea__nextSceneButton primaryButton">Next</div>
		</div>
	</div>
</section>
