<section class="editorArea">
	<div class="editorArea__container">
		{% for item in 0..3 %}
			<div class="editorArea__line">
				<div class="editorArea__countBorder">
					<span class="editorArea__syllableCount">0</span>
				</div>
				<input class="editorArea__lineInput">
			</div>
		{% endfor %}
	</div>
</section>
