<section class="homePage">
	<div class="homePage__container">
		<div class="homePage__rightText">
			<p>Bonjour à toi ! Je vais t'aider à rédiger des poèmes.</p>
			<p> Prends ta plus belle plume et lançons nous !</p>
		</div>
		<div class="homePage__contentCircle">
			<div class="homePage__leftCircle">
			</div>
		</div>
	</div>
	<div class="homePage__button">
		<a href="http://localhost:3000/poem-editor/public/theme">COMMENCER</a>
	</div>
	<div class="homePage__buttonSound">
		<a href="#"><img src="../src/img/sound.png" /></a>
	</div>
</section>
