<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="ft-FR"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="ft-FR"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" lang="ft-FR"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="ft-FR"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
        <title>
            Maitre Renard
        </title>
    <meta name="description" content="Project Poesia">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="dist/css/main.css">
</head>
