<section class="lateralBar">
	<div class="themePage__timeline">
		<div class="lateralBar__border">
		</div>
		<div class="lateralBar__circleActive">
			<a href="#">1</a>
		</div>
		<div class="lateralBar__circle">
			<a href="#">2</a>
		</div>
		<div class="lateralBar__circle">
			<a href="#">3</a>
		</div>
		<div class="lateralBar__circle">
			<a href="#">4</a>
		</div>
		<div class="lateralBar__circle">
			<a href="#">5</a>
		</div>
	</div>
</section>
