<section class="rimePage">
	<div class="rimePage__container">
		<div class="rimePage__title">
			<h1>Avec quelle <span class="rimePage__bold">rime </span>veux-tu écrire ton poème ?</h1>
		</div>
		<div class="rimePage__containerCentral">
			<div class="rimePage__containerRime">
				<div class="rimePage__content">
					<h1><span class="rimePage__orange">AA</span><span class="rimePage__blue">BB</span></h1>
					<p class="rimePage__rimeType">
						Rime plates
					</p>
					<p class="rimePage__example">
						Par exemple :
					</p>
					<p class="rimePage__rime">
						Une belle <span class="rimePage__orange">orchidée</span><br/>
						pour ma bien <span class="rimePage__orange">aimée</span><br/>
						preuve de ma <span class="rimePage__blue">bravoure</span><br/>
						et de mon <span class="rimePage__blue">amour</span>.
					</p>
				</div>
				<div class="rimePage__content">
					<h1><span class="rimePage__orange">A</span><span class="rimePage__blue">B</span><span class="rimePage__orange">A</span><span class="rimePage__blue">B</span></h1>
					<p class="rimePage__rimeType">
						Rime croisées
					</p>
					<p class="rimePage__example">
						Par exemple :
					</p>
					<p class="rimePage__rime">
						Une belle <span class="rimePage__orange">orchidée</span><br/>
						preuve de ma <span class="rimePage__blue">bravoure</span><br/>
						pour ma bien <span class="rimePage__orange">aimée</span><br/>
						et de mon <span class="rimePage__blue">coeur</span>.
					</p>
				</div>
				<div class="rimePage__content">
					<h1><span class="rimePage__orange">A</span><span class="rimePage__blue">B</span><span class="rimePage__blue">B</span><span class="rimePage__orange">A</span></h1>
					<p class="rimePage__rimeType">
						Rime embrassées
					</p>
					<p class="rimePage__example">
						Par exemple :
					</p>
					<p class="rimePage__rime">
						Une belle <span class="rimePage__orange">orchidée</span><br/>
						preuve de ma <span class="rimePage__blue">bravoure</span><br/>
						et de mon <span class="rimePage__blue">coeur</span><br/>
						pour ma bien <span class="rimePage__orange">aimée</span>.
					</p>
				</div>
			</div>
		</div>
		<div class="rimePage__button">
			<a href="http://localhost:3000/poem-editor/public/syllabe">continuer</a>
		</div>
		<div class="rimePage__buttonSound">
			<a href="#"><img src="../src/img/sound.png" /></a>
		</div>
	</div>
</section>
