<section class="syllabePage">
	<div class="syllabePage__container">
		<div class="syllabePage__title">
			<h1>N'oublie pas : qu'est-ce qu'une <span class="rimePage__bold">syllabe </span>?</h1>
		</div>
		<div class="syllabePage__containerCentral">
			{% block content %}
			    {% include 'layout/lateralBar.twig'%}
			{% endblock %}
		<div class="syllabePage__content">
			<div class="syllabePage__rightText">
				<p>Une syllabe, c'est le <span class="syllabePage__bold">nombre</span></p>
				<p><span class="syllabePage__bold">de sons</span> que font un mot</p>
				<p>quand tu le décompose</p>
				<div class="syllabePage__exemple">
					<p>Par exemple " <span class="syllabePage__orange">Ki </span> | <span class="syllabePage__green">mo </span> | <span class="syllabePage__red">no </span> "</p>
				</div>
			</div>
			<div class="syllabePage__contentCircle">
				<div class="syllabePage__leftCircle">
				</div>
			</div>
		</div>
	</div>
	<div class="syllabePage__button">
		<a href="http://localhost:3000/poem-editor/public/vers">continuer</a>
	</div>
	<div class="syllabePage__buttonSound">
		<a href="&"><img src="../src/img/sound.png" /></a>
	</div>
</section>
