<section class="themePage">
	<div class="themePage__container">
		<div class="themePage__title">
			<h1>Sur quel <span class="themePage__bold">thème </span>veux-tu écrire ton poème ?</h1>
		</div>
		<div class="themePage__containerCentral">
			<div class="themePage__timeline">
				<div class="themePage__border">
				</div>
				<div class="themePage__circleActive">
					<a href="#">1</a>
				</div>
				<div class="themePage__circle">
					<a href="#">2</a>
				</div>
				<div class="themePage__circle">
					<a href="#">3</a>
				</div>
				<div class="themePage__circle">
					<a href="#">4</a>
				</div>
				<div class="themePage__circle">
					<a href="#">5</a>
				</div>
			</div>
			<div class="themePage__containerColumns">
				<div class="themePage__containerThemes">
					<div class="themePage__row_1">
						<div class="themePage__theme">
							<a href="#">Nature</a>
						</div>
						<div class="themePage__theme">
							<a href="#">Ecole</a>
						</div>
						<div class="themePage__theme">
							<a href="#">Autonme</a>
						</div>
					 </div>
					 <div class="themePage__row_2">
 						<div class="themePage__theme">
 							<a href="#">Terre</a>
 						</div>
 						<div class="themePage__theme">
 							<a href="#">Anniversaire</a>
 						</div>
 						<div class="themePage__theme">
 							<a href="#">Noêl</a>
 						</div>
 					 </div>
					 <div class="themePage__row_3">
 						<div class="themePage__theme">
 							<a href="#">Soleil</a>
 						</div>
 						<div class="themePage__theme">
 							<a href="#">Ciel</a>
 						</div>
 						<div class="themePage__theme">
 							<a href="#">Vacances</a>
 						</div>
 					 </div>
					 <div class="themePage__row_4">
 						<div class="themePage__theme">
 							<a href="#">Animaux</a>
 						</div>
 						<div class="themePage__theme">
 							<a href="#">Musique</a>
 						</div>
 						<div class="themePage__theme">
 							<a href="#">Famille</a>
 						</div>
 					 </div>
				</div>
			</div>
		</div>
		<div class="themePage__button">
			<a href="#">continuer</a>
		</div>
		<div class="themePage__buttonSound">
			<a href="#"><img src="../src/img/sound.png" /></a>
		</div>
	</div>
</section>
