<section class="versPage">
	<div class="versPage__container">
		<div class="versPage__title">
			<h1>Avec quelle <span class="versPage__bold">type de vers </span>veux-tu écrire ton poème ?</h1>
		</div>
		<div class="versPage__containerCentral">
			{% block content %}
			    {% include 'layout/lateralBar.twig'%}
			{% endblock %}
			<div class="versPage__containervers">
				<div class="versPage__content">
					<h1>alexandrin</h1>
					<p class="versPage__versType">
						12
					</p>
					<p class="versPage__example">
						Par exemple :
					</p>
					<p class="versPage__vers">
						<span class="versPage__orange">Tout </span><span class="versPage__green">bour</span><span class="versPage__bluedark">geois </span><span class="versPage__yellow">veut </span><span class="versPage__blue">bâ</span><span class="versPage__red">tir </span><br/>
						<span class="versPage__orange">com</span><span class="versPage__green">me</span><span class="versPage__bluedark"> les </span><span class="versPage__yellow">grands </span><span class="versPage__blue">sei</span><span class="versPage__red">gneurs </span><br/>
					</p>
				</div>
				<div class="versPage__content">
					<h1>décasyllabe</h1>
					<p class="versPage__versType">
						10
					</p>
					<p class="versPage__example">
						Par exemple :
					</p>
					<p class="versPage__vers">
						<span class="versPage__orange">Tout </span><span class="versPage__green">bour</span><span class="versPage__bluedark">geois </span><span class="versPage__yellow">veut </span><span class="versPage__blue">bâ</span><span class="versPage__red">tir </span><br/>
						<span class="versPage__orange">com</span><span class="versPage__green">me</span><span class="versPage__bluedark"> les </span><span class="versPage__yellow">grands </span><br/>
					</p>
				</div>
				<div class="versPage__content">
					<h1>octosyllabe</h1>
					<p class="versPage__versType">
						8
					</p>
					<p class="versPage__example">
						Par exemple :
					</p>
					<p class="versPage__vers">
						<span class="versPage__orange">Tout </span><span class="versPage__green">bour</span><span class="versPage__bluedark">geois </span><span class="versPage__yellow">veut </span><span class="versPage__blue">bâ</span><span class="versPage__red">tir </span><br/>
						<span class="versPage__orange">com</span><span class="versPage__green">me</span>
					</p>
				</div>
			</div>
		</div>
		<div class="versPage__button">
			<a href="http://localhost:3000/poem-editor/public/syllabe">continuer</a>
		</div>
		<div class="versPage__buttonSound">
			<a href="#"><img src="../src/img/sound.png" /></a>
		</div>
	</div>
</section>
