.editorScene {
	display: flex;
	flex-direction: column;

	&__container {
		position: absolute;
		z-index: 4;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
		overflow-y: hidden;
	}

	&__stanzasList {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 500vh;
		width: 100%;
		max-width: 960px;
		margin: 0 auto;

	}

	&__stanzas {
		&:not(:first-child) {
			margin-top: 48px;
		}
	}

	&__line {
		position: relative;
		margin-top: 16px;
	}

	&__syllableCount {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 60px;

		text-align: center;
		font-size: 24px;
		color: $grey-dusty-grey;
	}

	&__rhymeType {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 60px;

		text-align: center;
		font-size: 20px;
		font-weight: lighter;
	}

	&__lineInput {
		display: block;
		// white-space: pre;
		outline: none;
		border: none;
		width: 100%;

		font-size: 24px;
		padding: 20px 60px;
		box-shadow: 0px 0px 16px 0px rgba($black, 0.15);
	}

	&__buttonContainer {
		text-align: center;
		width: 100%;
		margin-top: 40px;
	}

	&__container-animate {
		@include containerFullscreen;
		z-index: 1;
	}

	&__cloud1 {
		@include cloud(5%,5%,moveCloudEditor,60s);
	}
	&__cloud2 {
		@include cloud(10%,10%,moveCloudEditor,60s);
	}
	&__cloud3 {
		@include cloud(25%,12%,moveCloudEditor,40s);
	}
	&__cloud4 {
		@include cloud(15%,15%,moveCloudEditor,40s);
	}
}
