.rhymeScene {
	&__title {
		padding-left: 50px;

		h1 {
			font-size: 2.25em;
			color: #4a4a4a;
			font-weight: 100;
		}
	}

	&__container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	&__rhymeContainer {
		display: flex;
		flex-flow: column;
	}

	&__rhymeTitle {}

	&__rhymeSubtitle {
		padding-bottom: 20px;
	}

	&__rhyme1 {
		margin: 10px;
		transition: 0.5s ease;
	}

	/*
	* Animation type of rhyme
	*/
	&__translateRightX {
		transform:translateX(165px) translateY(0px);;
	}

	&__translateBottomY {
		transform: translateX(165px) translateY(35px);
	}
	&__translateBottomY2 {
		transform: translateX(165px) translateY(-35px);
	}
	// &__translateBottomY2 {
	// 	transform: translateX(165px) translateY(54px);
	// }
	&__translateBottomTopY3 {
		transform: translateX(165px) translateY(-54px);
	}
	&__translateTopY {
		transform: translateY(-54px);
	}
	&__translateTopY2 {
		transform: translateY(-74px);
	}
	&__translateBottomY3 {
		transform: translateY(70px);
	}
	&__translateTopX {
		transform: translateX(0) translateY(-35px);
	}
	&__translateLeftX {
		transform: translateX(0) translateY(35px);
	}
	&__translateLeftX2 {
		transform: translateX(0) translateY(54px);
	}

	&__rhyme2 {
		margin: 10px;
		transition: 0.5s ease;
	}

	&__rhyme3 {
		margin: 10px;
		transition: 0.5s ease;
	}

	&__rhyme4 {
		margin: 10px;
		transition: 0.5s ease;
	}

	&__rhymeA {
		color: $blue;
	}

	&__rhymeB {
		color: $orange;
	}

	&__rhymeList {
		height: 50%;
		display: flex;
		flex-flow: column;
		justify-content: space-around;
	}

	&__selectType {
		p {
			color: white;
		}
	}
}
