.themeScene {
	&__title {
		font-size: 22px;
		margin: 20px auto 40px;
		width: 80%;
	}

	&__choiceList {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 40px;
	}

	&__themeCardContainer {
		width: 50%;
		padding: 0 2%;
		margin-bottom: 10px;
		@include breakpoint(medium) {
			width: 33.33%;
			padding: 0 10px;
			margin-bottom: 20px;
		};
	}

	&__themeCard {
		background-color: $blue-pattens-blue;
		cursor: pointer;
		text-align: center;
		padding: 20px 0;
		border-radius: 5px;

		&--focus {
			background-color: darken($blue-pattens-blue, 15%);
		}
	}

	&__buttonContainer {
		text-align: right;
	}

	&__container-animate {
		@include containerFullscreen;
	}

	&__arrow-next {
		@include arrowNext;
	}

	&__cloud1 {
		@include cloud(5%,5%,moveCloudTheme,70s);
	}
	&__cloud2 {
		@include cloud(10%,10%,moveCloudTheme,70s);
	}
	&__cloud3 {
		@include cloud(25%,12%,moveCloudTheme,70s);
	}
	&__cloud4 {
		@include cloud(15%,20%,moveCloudTheme,70s);
	}
}
