.themeScene {
	background: radial-gradient(at left 40%,#FEF6DE,#BBE1E6);
	&__title {
		font-size: 22px;
		margin: 20px auto 40px;
		width: 80%;
	}

	&__choiceList {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 40px;
	}

	&__themeCardContainer {
		width: 50%;
		padding: 0 2%;
		margin-bottom: 10px;
		@include breakpoint(medium) {
			width: 33.33%;
			padding: 0 10px;
			margin-bottom: 20px;
		};
	}

	&__themeCard {
		background-color: $blue-pattens-blue;
		cursor: pointer;
		text-align: center;
		padding: 20px 0;
		border-radius: 5px;

		&--focus {
			background-color: darken($blue-pattens-blue, 15%);
		}
	}

	&__buttonContainer {
		text-align: right;
	}

	&__container-animate {
		@include containerFullscreen;
	}

	&__arrow-next {
		@include arrowNext;
	}


	img{
		position: absolute;
	}

	.jeu__sceneItem{
		background-image: url(dist/img/fond.png);
		background-repeat: no-repeat;
	}


	&__word{
		position: absolute;
	    top: 50px;
	    left: 90px;
		text-decoration: none;
		color:$blue-picton-blue;
	}


	&__cloud1 {
		@include cloud(15%,5%,moveCloudTheme,70s);
	}
	&__cloud2 {
		@include cloud(60%,40%,moveCloudTheme,70s);
	}
	&__cloud3 {
		@include cloud(35%,8%,moveCloudTheme,70s);
	}
	&__cloud4 {
		@include cloud(55%,70%,moveCloudTheme,70s);
	}
	&__cloud5 {
		@include cloud(50%,20%,moveCloudTheme,70s);
	}
	&__cloud6 {
		@include cloud(40%,40%,moveCloudTheme,70s);
	}
	&__cloud7 {
		@include cloud(15%,40%,moveCloudTheme,70s);
	}
	&__cloud8 {
		@include cloud(15%,75%,moveCloudTheme,70s);
	}
	&__cloud9 {
		@include cloud(35%,62%,moveCloudTheme,70s);
	}
}
