.verseScene {

	&__jeu__sceneItem{
		background-image: url('dist/img/fond.png');
	}
	&__title{
		padding-left: 50px;
		h1{
		font-size: 2.25em;
		color: #4a4a4a;
		font-weight: 100;
		}
	}

	&__bold{
		font-weight: bold;
	}

	&__containerCentral{
		display: flex;
	}

	&__containervers{
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__content{
		border: 1px solid #000;
	    background-color: #fff;
	    width: 50%;
	    margin: auto;
	    margin-bottom: 30px;
	    height: 70px;
		@media screen and (max-width:950px){
			width: 30%;
		}
		h1{
			text-align: center;
			font-size: 30px;
			padding-top: 15px;
			color: $greydark;
		}
	}

	&__orange{
		color:$orange;
	}

	&__blue{
		color: $blue;
	}

	&__bluedark{
		color: $bluedark;
	}

	&__red{
		color: $red;
	}

	&__yellow{
		color: $yellow;
	}

	&__green{
		color: $green;
	}

	&__versType{
		text-align: center;
		font-weight: bold;
		font-size: 56px;
		color:$greylight;
		padding-top: 35px;
	}

	&__example{
		padding-left: 25px;
		font-style: italic;
		padding-top: 50px;
		font-size: 18px;
	}

	&__vers{
		font-size: 20px;
		padding-left: 25px;
		padding-right: 25px;
		letter-spacing: 1px;
	}

	&__button{
		text-align: center;
		position: relative;
		top: 65px; /* poussé de la moitié de hauteur du référent */
		left: 90%;
		transform: translateX(-90%); /* tiré de la moitié de sa propre largeur */
		border: 1px solid #4a4a4a;
		border-radius: 50px;
		height: 50px;
		width: 150px;
		line-height: 50px;
		background-color: $white;
		a{
			text-decoration: none;
			font-size: 1.3em;
			color:$grey;
			display:block;
			width:100%;
			height:100%;
		}
	}

	&__buttonSound{
		text-align: center;
		position: relative;
		top: 60px;
		left: 97%;
		-webkit-transform: translateX(-90%);
		transform: translateX(-90%);
		height: 30px;
		width: 50px;
		line-height: 50px;
		a{
			display:block;
			width:100%;
			height:100%;
		}
	}

	&__container-animate {
		@include containerFullscreen;
	}

	&__arrow-next {
		@include arrowNext;
	}

}
