.verseScene {
	&__title{
		padding-left: 50px;
		h1{
			font-size: 2.25em;
			color: #4a4a4a;
			font-weight: 100;
		}
	}

	&__verseList {
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		font-size: 20px;
		letter-spacing: 1px;

		@include breakpoint(small) {
			flex-direction: row;
			font-size: 15px;
		};
	}

	&__verseItem {
		height: 55px;
		width: 50%;
		border-radius: 50px;
		background: #fff;
		text-align: center;
		color: $orange;
		box-shadow: 1px 1px 1px 1.5px #979797;
		cursor: pointer;
		z-index: 10;
		line-height: 55px;
		margin: auto;
		margin-bottom: 30px;

		@include breakpoint(small) {
			width: 25%;

		};

		&--selected {
			background: #f5a623;
			color: $white;
		}
	}

	&__content {
		text-align: center;
		display: flex;
	    flex-direction: column;
	}

	&__contentTitle {
		color: $blue-picton-blue;
		font-size: 23px;
		padding-bottom: 30px;
	}

	&__contentDetail {
		font-size: 20px;
		padding-bottom: 30px;
	}

	&__example {
		font-size: 25px;
		padding-bottom: 30px;

		span::before {
			content: '|';
			color: $orange-buttercup;
		}
	}
}
